<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.arijitsapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.arijitsapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        <activity
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" android:name="com.facebook.FacebookActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestionfourteen.ui.ScanQuestionFourteenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestionseven.ui.ScanQuestionSevenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.savedreports.ui.SavedReportsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanimageone.ui.ScanImageOneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.location.ui.LocationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestionnineteen.ui.ScanQuestionNineteenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.photoclickedview.ui.PhotoClickedViewActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestionsixteen.ui.ScanQuestionSixteenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.sharereport.ui.ShareReportActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestionten.ui.ScanQuestionTenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.nearbyhospitals.ui.NearbyHospitalsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.uploadselectedview.ui.UploadSelectedViewActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.uploadalbumview.ui.UploadAlbumViewActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.uploadimage.ui.UploadImageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.message.ui.MessageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanimage.ui.ScanImageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestionfour.ui.ScanQuestionFourActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.uploadrecentview.ui.UploadRecentViewActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestionseventeen.ui.ScanQuestionSeventeenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestioneighteen.ui.ScanQuestionEighteenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestioneight.ui.ScanQuestionEightActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestioneleven.ui.ScanQuestionElevenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestiontwelve.ui.ScanQuestionTwelveActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestionfifteen.ui.ScanQuestionFifteenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.report.ui.ReportActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.finddocwebview.ui.FindDocWebviewActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestionnine.ui.ScanQuestionNineActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestiontwenty.ui.ScanQuestionTwentyActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.blogwebview.ui.BlogWebviewActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestionfive.ui.ScanQuestionFiveActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.home.ui.HomeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestionsix.ui.ScanQuestionSixActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestiononecontainer.ui.ScanQuestionOneContainerActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestionthirteen.ui.ScanQuestionThirteenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestionthree.ui.ScanQuestionThreeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.scanquestiontwo.ui.ScanQuestionTwoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.uploadphoto.ui.UploadPhotoActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.arijitsapplication.app.modules.login.ui.LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.arijitsapplication.app.modules.scanimagetwo.ui.ScanImageTwoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.messagedetails.ui.MessageDetailsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.insurance.ui.InsuranceActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.arijitsapplication.app.modules.cameraview.ui.CameraViewActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
